
.glossary-term-hover { /* temp until the JS pushes the dfn off of the element itself. */
    margin-left: 1em;
    margin-top: 1em;
}

.glossary-term-hover {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #14892C #BBB #A8A8A8;
    border-image: initial;
    width: 300px;
    padding: 4px;
    z-index: 987;
}

.glossary-term-hover > h3,
.glossary-term-hover > dl:first-child > dt {
    border-bottom: 1px dotted #ddd;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: -4px 0 0 0;
    padding: 10px;
}

.glossary-term-hover ol,
.glossary-term-hover ul,
.glossary-term-hover dl {
    list-style: none;
    margin: 1em 0;
    padding: 0 10px;
}

.glossary-term-hover .this-space:before {
    display: block;
    color: #666;
    content: "In this space:";
}

.glossary-term-hover .this-space {
    border-bottom: 1px dotted #ddd;
}
